<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.genevore.ingram"
    android:installLocation="auto">
  <application
      android:allowBackup="false"
      android:extractNativeLibs="true"
      android:hardwareAccelerated="true">
    <activity android:name="com.unity3d.player.UnityPlayerActivity"
        android:exported="true"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
        android:screenOrientation="sensorLandscape"
        android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale|layoutDirection|density"
        android:hardwareAccelerated="true"
        android:launchMode="singleTask">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
      <meta-data android:name="unityplayer.UnityActivity" android:value="true" />
    </activity>
  </application>
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-feature android:glEsVersion="0x00030000" android:required="true" />
  <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
</manifest>
